
html, body {
    /* max-width: 100%; */
    overflow-x: hidden;
    background: #FAFAFA;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    font-family: 'Forum', cursive;
 }

 .nav-wrapper {
   overflow: hidden;
   position: fixed;
   top: 0;
   width: 100%;
   background-color: #EFEFFE;
   border-bottom: 1px solid #cbd6e2;
   padding: 11px;
   z-index: 122;
   margin: 0 !important;
}
.menu {
   display: flex;
   justify-content: center;
}
.menu li {
   list-style: none;
   margin: 0em;
   padding: 0em;
}
.menu a {
   padding: 0.5em;
   display: block;
   width: 6em;
}
.menu a:hover { 
   background-color: #F0EEF0;;
}
.header-content {
   display: flex;
   margin: 100px 0 5px 0;
   align-items: center;
  justify-content: center;
}

.my-img img {
   border-radius: 59%;
   width: 200px;

}
.my-img {
   flex: 1;
}

.intro {
   background: url(./images/table2.jpg);
    background-size: cover;
    padding-bottom: 2em;
    padding-top: 5em;
}


 .content {
   background-color: #EFEFFE;
   border: 1px solid #F2F2F2;
   border-bottom: 1px solid #cbd6e2;
   border-radius: 5px;
   width: 100%;
   margin: 0 0 8px 0;
}

p {
   line-height: 1;
}

 img {
   width: 100%;
}

 /* Foreign Language Styles */
 table, td, th {
   border: 1px solid black;
 }
 table {
   border-collapse: collapse;
   width: 100%;
 }
 th {
   height: 35px;
 }
 td {
   height: 35px;
   padding: 0 0 0 5px;
 }

  /* Historical Places Styles */
  .place-img {
   float: left;
   width: 54%;
   margin: 15px 10px 0px 10px;
}

.clearfix::after {
   content: "";
   clear: both;
   display: table;
}

.float-right {
   float: right
}

.footer {
   margin: 30px 0 0 0;
}
 
 @media (min-width: 800px) {
   
    /* Historical Places Styles */
  .place-img {
   float: right;
   width: 54%;
   margin: 15px 10px 0px 10px;
}
    
 }
 
 
 