
html, body {
   /* max-width: 100%; */
   overflow-x: hidden;
   background: #FAFAFA;
   scroll-behavior: smooth;
   margin: 0;
   padding: 0;
   font-family: 'Forum', cursive;
}
.nav-wrapper {
   overflow: hidden;
   position: fixed;
   top: 0;
   width: 100%;
   background-color: #EFEFFE;
   border-bottom: 1px solid #cbd6e2;
   padding: 11px;
   z-index: 122;
}
.menu {
   display: flex;
   justify-content: center;
}
.menu li {
   list-style: none;
   margin: 0em;
   padding: 0em;
}
.menu a {
   padding: 0.5em;
   display: block;
   width: 6em;
}
.menu a:hover { 
   background-color: #F0EEF0;;
}
.header-content {
   display: flex;
   margin: 100px 0 5px 0;
   align-items: center;
  justify-content: center;
}
.container {
   /* margin-top: 20%; */
   margin: 10px 0 0 0;

}
.container img {
   width: 100%;

}
.container h1 {
   text-align: center;
}
ul {
   margin: 7px 5px 10px 19px;
   padding: 0;
} 
.city, .language, .places-wrapper, .footer {
   margin: 30px 0 0 0;
}

.my-img img {
   border-radius: 59%;
   width: 200px;

}
.my-img {
   flex: 1;
}

.intro {
   background: url(./images/table2.jpg);
    background-size: cover;
    padding-bottom: 2em;
    padding-top: 5em;
}

/*Favarite City Styles */
.city-content {
   background-color: #EFEFFE;
   border: 1px solid #F2F2F2;
   border-radius: 4px;
   border-bottom: 1px solid #cbd6e2;
}
.city-text {
   padding-left: 10px;
}

/* Foreign Language Styles */
table, td, th {
   border: 1px solid black;
 }
 table {
   border-collapse: collapse;
   width: 100%;
 }
 th {
   height: 35px;
 }
 td {
   height: 35px;
   padding: 0 0 0 5px;
 }

 .language-content {
   background-color: #EFEFFE;
   border: 1px solid #F2F2F2;
   border-radius: 4px;
   border-bottom: 1px solid #cbd6e2;
   padding: 10px;
 }

.name-text {
   flex: 1;
   text-align: right;
   padding-right: 30px;
   line-height: 0.5;
}
.name-text h1{
   text-align: right;
   font-weight: 800;
   color: cyan;
}
/* .change-order {
   order: 2;
} */
.place-text h3, .language-content h3, .city-text h3{
   text-align: center;
   margin: 0;
}

.places-wrapper, .language, .city {
   font-size: 18px;
}

li {
   padding-bottom: 12px;
   text-decoration: none;
}

.clearfix::after {
   content: "";
   clear: both;
   display: table;
}

/* Historical Places Styles */
.place-img {
   float: left;
   width: 54%;
   margin: 15px 10px 0px 10px;
}
.place-img img {
   width: 100%;
}
.clearfix::after {
   content: "";
   clear: both;
   display: table;
} 

.float-right {
   float: right;
}

.place-content {
   background-color: #EFEFFE;
   border: 1px solid #F2F2F2;
   border-bottom: 1px solid #cbd6e2;
   border-radius: 5px;
   width: 100%;
   margin: 0 0 8px 0;
}

.place-text {
      overflow: visible;
    padding: 10px 7px 10px 10px;
}


@media (min-width: 800px) {
   .container {
      width: 90%;
      margin: auto;
      margin-top: 5em;
   }
  
   .my-img {
      padding: 10px 10px 10px 0;
   }

   /*Favarite City Styles */
   .city-content {
      display: flex;
      border: 1px solid #F2F2F2;
      border-bottom: 1px solid #cbd6e2;
   }
   .city-text, .city-img {
      flex: 1;
      padding: 10px;
   }
   .city, .language, .places-wrapper, .footer {
      margin: 60px 0 0 0;
   }

   /* Historical Places Styles */
   .place-img {
      float: right;
      width: 50%;
  }

  .place-img img {
      width: 100%;
  }

  .places-container {
     display: flex;
  }
  .place-content {
      margin: 0 2px 5px 2px;
      width: 100%;
  }

   .places-wrapper, .language, .city, .intro {
      font-size: 16px;
   }

   .clearfix::after {
      content: "";
      clear: both;
      display: table;
   }
}


